apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: app
        image: dummy  # replaced by Jenkins with real image
        ports:
        - containerPort: 80
